<div class="text-center">
  <span class="uppercase pt-2 text-2xl font-semibold text-gray-2 block">
    <%= t(".title") %>
  </span>
  <p class="help-text pb-8">
    <%= t(".content_html") %>
  </p>
  <div class="flex justify-center mb-4">
    <%= link_to t(".back"), :back, class: "border border-secondary rounded hover:bg-secondary text-secondary hover:text-white px-4 py-1.5 font-semibold mx-auto" %>
  </div>
</div>
