<div class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1><%= t(".title") %></h1>
      </div>
    </div>

    <div class="row">
      <div class="columns large-10 medium-centered">
        <div class="card">
          <div class="card__content">
            <%= t(".content").try("html_safe") %>
          </div>
        </div>
      </div>
      <div class="columns large-6 medium-centered">
        <button class="button expanded" data-open="publishAccountModal" data-redirect-url=<%= request.original_url %>><%= t(".button") %></button>
      </div>
    </div>
  </div>
</div>
