<div class="text-center">
  <span class="uppercase font-semibold text-gray-2 mb-4 block">
    <%= t("decidim.privacy.privacy_block.title") %>
  </span>
  <p class="help-text pb-8">
    <%= t("decidim.privacy.privacy_block.content_html") %>
  </p>
  <div class="form__wrapper-block">
    <button class="button button__sm md:button__lg button__secondary"
      data-open="publish-account-modal" data-redirect-url=<%= request.original_url %>>
      <%= t("decidim.privacy.privacy_block.button") %>
    </button>
  </div>
</div>
