<div class="author author--inline">
  <span class="author__avatar">
    <%= image_tag model.default_avatar_url, alt: t("decidim.author.avatar", name: decidim_sanitize(author_name)) %>
  </span>

    <span class="author__name">
      <%= decidim_sanitize author_name %>
    </span>
</div>
