<div class="author__container">
  <% if (url = model.try(:default_avatar_url)).present? %>
    <%= content_tag :span, class: "author__avatar-container" do %>
      <%= image_tag url, alt: t("decidim.author.avatar", name: decidim_sanitize(author_name)) %>
    <% end %>
  <% end %>

  <span class="author__name">
    <%= decidim_sanitize author_name %>
  </span>
</div>
