<div div class="columns small-10 end radius <%= "hide" unless local_assigns.has_key?(:unhide)  %>" id="old_password_field" data-toggler=".hide">
  <%= form.send(:custom_label, :old_password, t("activemodel.attributes.user.old_password"), { required: true }) %>

  <% if local_assigns.has_key?(:show_help_text) %>
    <%= form.password_field :old_password, old_password_options %>
  <% else %>
    <%= form.password_field :old_password, autocomplete: "current-password", required: true, label: false %>
  <% end %>
</div>
